<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LotteryManagementSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LotteryManagementSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <LotteryManagementSystem.My.MySettings>
      <setting name="DBKey" serializeAs="String">
        <value>J~6Gl#hJ</value>
      </setting>
      <setting name="AppAuthList" serializeAs="String">
        <value>LotteryManagementSystem.exe,DgeSqlDataAccess.dll,DgeHashLib.dll</value>
      </setting>
      <setting name="DBConnect" serializeAs="String">
        <value>Data Source=(local);Initial Catalog=LotteryCentral;User Id=mas;Password={0};</value>
      </setting>
      <setting name="LotteryManagementSystem_SqlReportingWebService2010_ReportingService2010"
        serializeAs="String">
        <value>http://local:80/ReportServer/ReportService2010.asmx</value>
      </setting>
    </LotteryManagementSystem.My.MySettings>
  </applicationSettings>
  <userSettings>
    <LotteryManagementSystem.My.MySettings>
      <setting name="ReceiptPrinter" serializeAs="String">
        <value>EPSON TM-T88V ReceiptE4</value>
      </setting>
      <setting name="ReportPrinter" serializeAs="String">
        <value>Microsoft XPS Document Writer</value>
      </setting>
      <setting name="LastReceipt" serializeAs="String">
        <value> ; ; ; ; </value>
      </setting>
      <setting name="ReportViewSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReportViewLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AppUserSize" serializeAs="String">
        <value>600, 300</value>
      </setting>
      <setting name="AppUserLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FlexNumberSize" serializeAs="String">
        <value>430, 400</value>
      </setting>
      <setting name="FlexNumberLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LocationViewSize" serializeAs="String">
        <value>700, 300</value>
      </setting>
      <setting name="LocationViewLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LastLoginID" serializeAs="String">
        <value />
      </setting>
    </LotteryManagementSystem.My.MySettings>
  </userSettings>
</configuration>
