# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger: none

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- checkout: git://AppDev_CommonLite
- checkout: self

# - task: PowerShell@2
#   displayName: 'Build and Publish Database $(RetailDatabaseId)'
#   inputs:
#     targetType: 'inline'
#     script: |
#       #Importing the SQL Change libraries         
        
#         Install-Module SqlChangeAutomation -Scope CurrentUser -AcceptLicense -Force
         
#          $dbScripts = "$(RetailDbSourcePath)"
         
#          Write-Host "Building and validating the database"
#          $validatedDb = Invoke-DatabaseBuild -FilterPath $(RetailFilterPath) -InputObject $dbScripts
         
#          Write-Host "Packaging the database scripts"                                     
#          $dbArtifact = New-DatabaseBuildArtifact -InputObject $validatedDb -PackageId $(RetailDatabaseId) -PackageVersion $(DatabasePackageVersion)
         
#          Write-Host "Copying the packaged database scripts into the artifacts directory as a Zip File"
#          Export-DatabaseBuildArtifact -InputObject $dbArtifact -path "$(DatabaseOutputDirectory)" -OutputFormat Zip
                
# - task: PowerShell@2
#   displayName: 'Build and Publish Database $(CentralDatabaseId)'
#   inputs:
#     targetType: 'inline'
#     script: |
#       #Importing the SQL Change libraries         
        
#         Install-Module SqlChangeAutomation -Scope CurrentUser -AcceptLicense -Force
         
#          $dbScripts = "$(CentralDbSourcePath)"
         
#          Write-Host "Building and validating the database"
#          $validatedDb = Invoke-DatabaseBuild -FilterPath $(CentralFilterPath) -InputObject $dbScripts 
         
#          Write-Host "Packaging the database scripts"
#          $dbArtifact = New-DatabaseBuildArtifact -InputObject $validatedDb -PackageId $(CentralDatabaseId) -PackageVersion $(DatabasePackageVersion)
         
#          Write-Host "Copying the packaged database scripts into the artifacts directory as a Zip File"
#          Export-DatabaseBuildArtifact -InputObject $dbArtifact -path "$(DatabaseOutputDirectory)" -OutputFormat Zip 
        
# - task: PublishBuildArtifacts@1
#   displayName: 'Publish Artifact: $(RetailDatabaseId) '
#   inputs:
#     PathtoPublish: '$(DatabaseOutputDirectory)/$(RetailDatabaseId).Zip'
#     ArtifactName: '$(RetailDatabaseId) '
# - task: PublishBuildArtifacts@1
#   displayName: 'Publish Artifact: $(CentralDatabaseId) '
#   inputs:
#     PathtoPublish: '$(DatabaseOutputDirectory)/$(CentralDatabaseId).Zip'
#     ArtifactName: '$(CentralDatabaseId) '  


- task: Assembly-Info-NetCore@2
  displayName: 'Set Assembly Info for CentroLink'
  inputs:
    Path: '$(Build.SourcesDirectory)/AppDev_MOLite'
    FileNames: '**/CentroLink.csproj'
    InsertAttributes: true
    FileEncoding: 'auto'
    InformationalVersion: '$(Build.BuildNumber)'
    WriteBOM: true
    Authors: 'Diamond Game'
    Company: 'Diamond Game'
    Product: 'CentroLink'
    Description: 'Provide management for the retail gaming machines.'
    Copyright: '2021 Diamond Game'    
    LogLevel: 'verbose'
    FailOnWarning: false
    DisableTelemetry: false

- task: Assembly-Info-NetCore@2
  displayName: 'Set Assembly Info for POS'
  inputs:
    Path: '$(Build.SourcesDirectory)/AppDev_MOLite'
    FileNames: '**/POS.csproj'
    InsertAttributes: true
    FileEncoding: 'auto'
    InformationalVersion: '$(Build.BuildNumber)'
    WriteBOM: true
    Authors: 'Diamond Game'
    Company: 'Diamond Game'
    Product: 'POS'
    Description: 'Payout Station for the retail gaming location.'
    Copyright: '2021 Diamond Game'    
    LogLevel: 'verbose'
    FailOnWarning: false
    DisableTelemetry: false
    
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/CentroLink.sln'
    
    
- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/POS.sln'

- task: VSBuild@1
  displayName: 'Build CentroLink $(buildConfiguration)'
  inputs:
    solution: '**/CentroLink.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: ArchiveFiles@2
  displayName: 'Archive CentroLink'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_MOLite/CentroLink/CentroLink/bin/Release/netcoreapp3.1'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/CentroLink.zip'
    replaceExistingArchive: true 

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact CentroLink'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/CentroLink.zip'
      ArtifactName: 'CentroLink'
      publishLocation: 'Container'

- task: VSBuild@1
  displayName: 'Build POS $(buildConfiguration)'
  inputs:
    solution: '**/POS.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: ArchiveFiles@2
  displayName: 'Archive POS'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_MOLite/POS/POS/bin/Release/netcoreapp3.1'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/POS.zip'
    replaceExistingArchive: true 

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact POS'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/POS.zip'
      ArtifactName: 'POS'
      publishLocation: 'Container'