# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger: 
  - master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- checkout: git://AppDev_CommonLite@MOLite_POS_Production_Build_20210709.3
- checkout: self

- task: PowerShell@2
  displayName: 'Build and Publish Database $(RetailDatabaseId)'
  inputs:
    targetType: 'inline'
    script: |
      #Importing the SQL Change libraries         
        
        Install-Module SqlChangeAutomation -Scope CurrentUser -AcceptLicense -Force
         
         $dbScripts = "$(RetailDbSourcePath)"
         
         Write-Host "Building and validating the database"
         $validatedDb = Invoke-DatabaseBuild -FilterPath $(RetailFilterPath) -InputObject $dbScripts
         
         Write-Host "Packaging the database scripts"                                     
         $dbArtifact = New-DatabaseBuildArtifact -InputObject $validatedDb -PackageId $(RetailDatabaseId) -PackageVersion $(DatabasePackageVersion)
         
         Write-Host "Copying the packaged database scripts into the artifacts directory as a Zip File"
         Export-DatabaseBuildArtifact -InputObject $dbArtifact -path "$(DatabaseOutputDirectory)" -OutputFormat Zip
                
- task: PowerShell@2
  displayName: 'Build and Publish Database $(CentralDatabaseId)'
  inputs:
    targetType: 'inline'
    script: |
      #Importing the SQL Change libraries         
        
        Install-Module SqlChangeAutomation -Scope CurrentUser -AcceptLicense -Force
         
         $dbScripts = "$(CentralDbSourcePath)"
         
         Write-Host "Building and validating the database"
         $validatedDb = Invoke-DatabaseBuild -FilterPath $(CentralFilterPath) -InputObject $dbScripts 
         
         Write-Host "Packaging the database scripts"
         $dbArtifact = New-DatabaseBuildArtifact -InputObject $validatedDb -PackageId $(CentralDatabaseId) -PackageVersion $(DatabasePackageVersion)
         
         Write-Host "Copying the packaged database scripts into the artifacts directory as a Zip File"
         Export-DatabaseBuildArtifact -InputObject $dbArtifact -path "$(DatabaseOutputDirectory)" -OutputFormat Zip 
        
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: $(RetailDatabaseId) '
  inputs:
    PathtoPublish: '$(DatabaseOutputDirectory)/$(RetailDatabaseId).Zip'
    ArtifactName: '$(RetailDatabaseId) '
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: $(CentralDatabaseId) '
  inputs:
    PathtoPublish: '$(DatabaseOutputDirectory)/$(CentralDatabaseId).Zip'
    ArtifactName: '$(CentralDatabaseId) '  


- task: Assembly-Info-NetCore@2
  displayName: 'Set Assembly Info for CentroLink'
  inputs:
    Path: '$(Build.SourcesDirectory)/AppDev_MOLite/CentroLink'
    FileNames: '**/*CentroLink*.csproj'
    InsertAttributes: true
    FileEncoding: 'auto'
    InformationalVersion: '$(Build.BuildNumber)'
    WriteBOM: true
    Authors: 'Diamond Game'
    Company: 'Diamond Game'
    Product: 'CentroLink'
    Description: 'Provide management for the retail gaming machines.'
    Copyright: '2021 Diamond Game'    
    LogLevel: 'verbose'
    FailOnWarning: false
    DisableTelemetry: false

- task: Assembly-Info-NetCore@2
  displayName: 'Set Assembly Info for POS'
  inputs:
    Path: '$(Build.SourcesDirectory)/AppDev_MOLite/POS'
    FileNames: '**/*POS*.csproj'
    InsertAttributes: true
    FileEncoding: 'auto'
    InformationalVersion: '$(Build.BuildNumber)'
    WriteBOM: true
    Authors: 'Diamond Game'
    Company: 'Diamond Game'
    Product: 'POS'
    Description: 'Payout Station for the retail gaming location.'
    Copyright: '2021 Diamond Game'    
    LogLevel: 'verbose'
    FailOnWarning: false
    DisableTelemetry: false
    
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/CentroLink.sln'
    
    
- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/POS.sln'

- task: VSBuild@1
  displayName: 'Build CentroLink $(buildConfiguration)'
  inputs:
    solution: '**/CentroLink.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSBuild@1
  displayName: 'Build POS $(buildConfiguration)'
  inputs:
    solution: '**/POS.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'


- task: ArchiveFiles@2
  displayName: 'Archive POS'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_MOLite/POS/POS/bin/Release/netcoreapp3.1'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/POS.zip'
    replaceExistingArchive: true 

- task: ArchiveFiles@2
  displayName: 'Archive CentroLink'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_MOLite/CentroLink/CentroLink/bin/Release/netcoreapp3.1'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/CentroLink.zip'
    replaceExistingArchive: true 

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact POS'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/POS.zip'
      ArtifactName: 'POS'
      publishLocation: 'Container'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact CentroLink'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/CentroLink.zip'
      ArtifactName: 'CentroLink'
      publishLocation: 'Container'


- task: ArchiveFiles@2
  displayName: 'Archive POS Source Code'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_MOLite/POS'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/POS_Source.zip'
    replaceExistingArchive: true 

- task: ArchiveFiles@2
  displayName: 'Archive CentroLink Source Code'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_MOLite/CentroLink'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/CentroLink_Source.zip'
    replaceExistingArchive: true 
- task: ArchiveFiles@2
  displayName: 'Archive CommonLite Source Code'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/AppDev_CommonLite/Framework'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/CommonLite_Framework_Source.zip'
    replaceExistingArchive: true 
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact POS Source'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/POS_Source.zip'
      ArtifactName: 'Source'
      publishLocation: 'Container'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact CentroLink Source'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/CentroLink_Source.zip'
      ArtifactName: 'Source'
      publishLocation: 'Container'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact CommonLite Source'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/CommonLite_Framework_Source.zip'
      ArtifactName: 'Source'
      publishLocation: 'Container'
      
- task: PowerShell@2
  displayName: 'Create Signatures file'
  inputs:
    targetType: 'inline'
    script: |
      $hashline = "File Path`tFile Version`tProduct Version`tSHA1 Signature`tMD5 Signature`n"
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures.csv" -InputObject $hashline

      
- task: PowerShell@2
  displayName: 'Create Critical Signatures file'
  inputs:
    targetType: 'inline'
    script: |
      $hashline = "File Path`tFile Version`tProduct Version`tSHA1 Signature`tMD5 Signature`n"
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures_Critical.csv" -InputObject $hashline
      
- task: PowerShell@2
  displayName: 'Add POS signatures'
  inputs:
    targetType: 'inline'
    script: |
      $builddir = "$(Build.SourcesDirectory)\AppDev_MOLite\POS\POS\bin\Release\netcoreapp3.1"
      $installfolder = "POS"
      Get-ChildItem "$($builddir)\*" -Include *.exe, *.dll, *.dat -Recurse | 
      Foreach-Object {
        $fileName = $_.FullName
        $shortenedPath = $fileName -replace [Regex]::Escape($builddir), ("...\" + [Regex]::Escape($installfolder))
        $fileVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).FileVersion
        $productVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).ProductVersion
        if ([string]::IsNullOrEmpty($fileVersion)){
          $fileVersion = "N/A"
        }
        if ([string]::IsNullOrEmpty($productVersion)){
          $productVersion = "N/A"
        }
        $filehash = Get-FileHash $fileName -Algorithm SHA1
        $filehash2 = Get-FileHash $fileName -Algorithm MD5
        $lineitem = "$($shortenedPath)`t$($fileVersion)`t$($productVersion)`t$($filehash.Hash)`t$($filehash2.Hash)"
    
        $hashlines = "$($hashlines)$($lineitem)`n"
        Write-Host  $lineitem
      }
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures.csv" -InputObject $hashlines -Append

- task: PowerShell@2
  displayName: 'Add POS critical signatures'
  inputs:
    targetType: 'inline'
    script: |
      $builddir = "$(Build.SourcesDirectory)\AppDev_MOLite\POS\POS\bin\Release\netcoreapp3.1"
      $installfolder = "POS"
      Get-ChildItem "$($builddir)\*" -Include *Framework.Core.dll, *Framework.Domain.dll, *Framework.Infrastructure.Data.dll, *Framework.Infrastructure.dll, *Framework.Infrastructure.Identity.dll, *Framework.WPF.dll, *Framework.WPF.Modules.dll, *Framework.WPF.UI.DGMaterial.Theme.dll, *Framework.WPF.UI.dll, *Framework.WPF.UI.Theme.dll, *POS.Core.dll, *POS.dll, *POS.exe, *POS.Infrastructure.dll  -Recurse | 
      Foreach-Object {
        $fileName = $_.FullName
        $shortenedPath = $fileName -replace [Regex]::Escape($builddir), ("...\" + [Regex]::Escape($installfolder))
        $fileVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).FileVersion
        $productVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).ProductVersion
        if ([string]::IsNullOrEmpty($fileVersion)){
          $fileVersion = "N/A"
        }
        if ([string]::IsNullOrEmpty($productVersion)){
          $productVersion = "N/A"
        }
        $filehash = Get-FileHash $fileName -Algorithm SHA1
        $filehash2 = Get-FileHash $fileName -Algorithm MD5
        $lineitem = "$($shortenedPath)`t$($fileVersion)`t$($productVersion)`t$($filehash.Hash)`t$($filehash2.Hash)"
    
        $hashlines = "$($hashlines)$($lineitem)`n"
        Write-Host  $lineitem
      }
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures_Critical.csv" -InputObject $hashlines -Append

- task: PowerShell@2
  displayName: 'Add CentroLink signatures'
  inputs:
    targetType: 'inline'
    script: |
      $builddir = "$(Build.SourcesDirectory)\AppDev_MOLite\CentroLink\CentroLink\bin\Release\netcoreapp3.1"
      $installfolder = "CentroLink"
      Get-ChildItem "$($builddir)\*" -Include *.exe, *.dll, *.dat -Recurse | 
      Foreach-Object {
        $fileName = $_.FullName
        $shortenedPath = $fileName -replace [Regex]::Escape($builddir), ("...\" + [Regex]::Escape($installfolder))
        $fileVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).FileVersion
        $productVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).ProductVersion
        if ([string]::IsNullOrEmpty($fileVersion)){
          $fileVersion = "N/A"
        }
        if ([string]::IsNullOrEmpty($productVersion)){
          $productVersion = "N/A"
        }
        $filehash = Get-FileHash $fileName -Algorithm SHA1
        $filehash2 = Get-FileHash $fileName -Algorithm MD5
        $lineitem = "$($shortenedPath)`t$($fileVersion)`t$($productVersion)`t$($filehash.Hash)`t$($filehash2.Hash)"
    
        $hashlines = "$($hashlines)$($lineitem)`n"
        Write-Host  $lineitem
      }
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures.csv" -InputObject $hashlines -Append

- task: PowerShell@2
  displayName: 'Add CentroLink critical signatures'
  inputs:
    targetType: 'inline'
    script: |
      $builddir = "$(Build.SourcesDirectory)\AppDev_MOLite\CentroLink\CentroLink\bin\Release\netcoreapp3.1"
      $installfolder = "CentroLink"
      Get-ChildItem "$($builddir)\*" -Include *Framework.Core.dll, *Framework.Domain.dll, *Framework.Infrastructure.Data.dll, *Framework.Infrastructure.dll, *Framework.Infrastructure.Identity.dll, *Framework.WPF.dll, *Framework.WPF.Modules.dll, *Framework.WPF.UI.DGMaterial.Theme.dll, *Framework.WPF.UI.dll, *Framework.WPF.UI.Theme.dll, *CentroLink.dll, *CentroLink.exe -Recurse | 
      Foreach-Object {
        $fileName = $_.FullName
        $shortenedPath = $fileName -replace [Regex]::Escape($builddir), ("...\" + [Regex]::Escape($installfolder))
        $fileVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).FileVersion
        $productVersion = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($fileName).ProductVersion
        if ([string]::IsNullOrEmpty($fileVersion)){
          $fileVersion = "N/A"
        }
        if ([string]::IsNullOrEmpty($productVersion)){
          $productVersion = "N/A"
        }
        $filehash = Get-FileHash $fileName -Algorithm SHA1
        $filehash2 = Get-FileHash $fileName -Algorithm MD5
        $lineitem = "$($shortenedPath)`t$($fileVersion)`t$($productVersion)`t$($filehash.Hash)`t$($filehash2.Hash)"
    
        $hashlines = "$($hashlines)$($lineitem)`n"
        Write-Host  $lineitem
      }
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures_Critical.csv" -InputObject $hashlines -Append
- task: PowerShell@2
  displayName: 'Add Source signatures'
  inputs:
    targetType: 'inline'
    script: |
      $builddir = "$(Build.ArtifactStagingDirectory)"
      Get-ChildItem "$($builddir)\*" -Include *_Source.zip -Recurse | 
      Foreach-Object {
        $fileName = $_.FullName
        $fileVersion = "N/A"
        $productVersion = "N/A"
        $filehash = Get-FileHash $fileName -Algorithm SHA1
        $filehash2 = Get-FileHash $fileName -Algorithm MD5
        $lineitem = "$($_.Name)`t$($fileVersion)`t$($productVersion)`t$($filehash.Hash)`t$($filehash2.Hash)"
    
        $hashlines = "$($hashlines)$($lineitem)`n"
        Write-Host  $lineitem
      }
      Out-File -FilePath "$(Build.ArtifactStagingDirectory)\Signatures.csv" -InputObject $hashlines -Append
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact Signatures'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)\Signatures.csv'
      ArtifactName: 'Signatures'
      publishLocation: 'Container'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact Critical Signatures'
  inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)\Signatures_Critical.csv'
      ArtifactName: 'Signatures'
      publishLocation: 'Container'