<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!-- Note : the "Password" field below is encrypted, to meet BMM cert. Do NOT change. -->
      <add key="Accounting DB Connection String" value="Data Source=(local);Initial Catalog=LotteryRetail;User ID=tp;Password=o~dJJ@Ax/" />
      <add key="Machine Port" value="4550" />
      <add key="TPC Port" value="4551" />
      <add key="Ping Timer" value="60" />
      <add key="Ping Response Timer" value="5" />
      <add key="TP IP Address" value="192.168.165.2" />
      <add key="TPC Refresh Interval" value="5" />
      <add key="Machine Listener Backlog" value="100" />
      <add key="AppAuthList" value="TransactionPortal.exe,DataAccess.dll,DgeHashLib.dll,Tpi.dll,Messages.xml,Transactions.xml" />
      
     

      <!-- *************************************************************************************** -->
      <!-- This is a DGE casino                                                                    -->
      <!-- *************************************************************************************** -->
      <add key="TPI Assembly Name" value="Tpi" />
      <add key="TPI Server Class Name" value="TpiServer" />
      <add key="TPI Client Class Name" value="TpiClient" />

     <!-- Support To Allow Voucher Flags to be reset after the timeout. Implemented in 3.0.8 -->
     <add key="VoucherPrintFlagTimeoutEnabled" value="1"/>
     <add key="VoucherPrintFlagTimeout" value="120"/>
     
   </appSettings>
   <system.diagnostics>
      <assert assertuienabled="false" logfilename="C:\Program Files (x86)\Diamond Game Enterprises\Transaction Portal\TransactionPortal.log" />
      <switches>
         <!-- Note: TraceSwitch settings
                    1 = Minimal logging
                    2 = echo machine transactions
                    3 = echo XML sent to MGAM/SDG
                    4 = Debugging output (NOT recommended) -->
         <add name="goTraceSwitch" value="2" />
      </switches>
    <trace autoflush="false" indentsize="3" />
  </system.diagnostics>
</configuration>

