<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreePlay.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreePlay.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <FreePlay.My.MySettings>
            <setting name="DBKey" serializeAs="String">
                <value>o~dJJ@Ax/</value>
            </setting>
            <setting name="COMBaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="COMDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COMParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="COMStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COMHandShake" serializeAs="String">
                <value>XonXoff</value>
            </setting>
            <setting name="ReportWebService" serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="ReportPath" serializeAs="String">
                <value>FreePlayReports</value>
            </setting>
            <setting name="ReportServerURL" serializeAs="String">
                <value>http://localhost/ReportServer</value>
            </setting>
            <setting name="AppAuthList" serializeAs="String">
                <value>FreePlay.exe,DgeSqlDataAccess.dll,DgeSmartForm.dll,DgeHashLib.dll</value>
            </setting>
            <setting name="EnableReports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBConnect" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=LotteryRetail;User Id=tp;Password={0};</value>
            </setting>
        </FreePlay.My.MySettings>
    </applicationSettings>
    <userSettings>
        <FreePlay.My.MySettings>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ReportViewLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportViewSize" serializeAs="String">
                <value>550, 400</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Restricted Credit</value>
            </setting>
            <setting name="VoucherTitle" serializeAs="String">
                <value>Play-Only Credits</value>
            </setting>
        </FreePlay.My.MySettings>
    </userSettings>
</configuration>
