<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="LRDealImport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <appSettings>
      <add key="WindowState" value="MRU" >
         <window name="frmOptions" height="346" width="350" top="60" left="140" state="0" />
         <window name="ArchiveHistorySelect" height="166" width="302" top="40" left="200" state="0" />
         <window name="CriteriaActiveDeals" height="166" width="300" top="40" left="200" state="0" />
         <window name="ImportHistorySelect" height="166" width="302" top="40" left="200" state="0" />
         <window name="LogViewer" height="400" width="640" top="10" left="10" state="0" />
      </add>
   </appSettings>
   <userSettings>
      <LRDealImport.My.MySettings>
         <setting name="EdealDBCatalog" serializeAs="String">
            <value>eDeal</value>
         </setting>
         <setting name="DatabaseUserID" serializeAs="String">
            <value>mas</value>
         </setting>
         <setting name="DatabasePassword" serializeAs="String">
            <value>J~6Gl#hJ</value>
         </setting>
         <setting name="DataFolder" serializeAs="String">
            <value>E:\Data\</value>
         </setting>
         <setting name="DataSourceFile" serializeAs="String">
            <value>{0}_ExportData.xml</value>
         </setting>
         <setting name="FreeSpaceCheck" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="AppAuthList" serializeAs="String">
            <value>LRDealImport.exe,DgeSqlDataAccess.dll,DgeHashLib.dll</value>
         </setting>
         <setting name="MDIStartLocation" serializeAs="String">
            <value>60, 60</value>
         </setting>
         <setting name="MDIStartSize" serializeAs="String">
            <value>1200, 800</value>
         </setting>
         <setting name="MDIStartFWS" serializeAs="String">
            <value>Normal</value>
         </setting>
         <setting name="MinDealGenVersion" serializeAs="String">
            <value>5006006004</value>
         </setting>
         <setting name="AddBankLocation" serializeAs="String">
            <value>60, 60</value>
         </setting>
         <setting name="AddBankSize" serializeAs="String">
            <value>594, 370</value>
         </setting>
         <setting name="AboutFormLocation" serializeAs="String">
            <value>160, 60</value>
         </setting>
         <setting name="AboutFormSize" serializeAs="String">
            <value>540, 400</value>
         </setting>
         <setting name="LotteryRetailDBCatalog" serializeAs="String">
            <value>LotteryRetail</value>
         </setting>
         <setting name="DatabaseServer" serializeAs="String">
            <value>(local)</value>
         </setting>
      </LRDealImport.My.MySettings>
   </userSettings>
</configuration>
