<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="Logs\nlog-exceptions.log">

  <!-- the targets to write to -->
  <targets async="true">

    <target xsi:type="File" name="allfile" fileName="${basedir}logs\${processname}.log"
            keepFileOpen="false"
            archiveFileName="${basedir}logs\${processname}_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="3650"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${event-properties:item=MemberName}|${event-properties:item=LineNumber}|${event-properties:data}|${exception:format=tostring}" />-->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--<logger name="*" minlevel="Trace" writeTo="db" />-->
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog>
