<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DGEMachineMonitor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <DGEMachineMonitor.My.MySettings>
            <setting name="DbConnect" serializeAs="String">
                <value>Data Source=BOTCENTRAL;Initial Catalog=LotteryCentral;User ID={0};Password={1}</value>
            </setting>
            <setting name="ConnectKey" serializeAs="String">
                <value>J~6Gl#hJ</value>
            </setting>
            <setting name="ConnectUID" serializeAs="String">
                <value>mas</value>
            </setting>
            <setting name="PollMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NotifyAfterMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="eMailList" serializeAs="String">
                <value>ckim@diamondgame.com</value>
            </setting>
            <setting name="SMTPServerName" serializeAs="String">
                <value>192.168.168.23</value>
            </setting>
            <setting name="eMailFrom" serializeAs="String">
                <value>dgemm@diamondgame.com</value>
            </setting>
            <setting name="UseSMTPCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTPUserName" serializeAs="String">
                <value>SmtpUid</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>SmtpPwd</value>
            </setting>
            <setting name="LogNTD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAuthList" serializeAs="String">
                <value>DGEMachineMonitor.exe,DgeSqlDataAccess.dll,DgeHashLib.dll</value>
            </setting>
        </DGEMachineMonitor.My.MySettings>
    </applicationSettings>
</configuration>
