<?xml version="1.0"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="TransPortalControl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="TransPortalControl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <userSettings>
      <TransPortalControl.My.MySettings>
         <setting name="Port" serializeAs="String">
            <value>4551</value>
         </setting>
         <setting name="Server" serializeAs="String">
            <value>127.0.0.1</value>
         </setting>
         <setting name="LogFile" serializeAs="String">
            <value />
         </setting>
         <setting name="Tracing" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="PollingInterval" serializeAs="String">
            <value>10</value>
         </setting>
      </TransPortalControl.My.MySettings>
   </userSettings>
   <applicationSettings>
      <TransPortalControl.My.MySettings>
         <setting name="AppAuthList" serializeAs="String">
            <value>TransPortalControl.exe,DgeSqlDataAccess.dll,DgeHashLib.dll</value>
         </setting>
         <setting name="TPServiceName" serializeAs="String">
            <value>Transaction Portal</value>
         </setting>
         <setting name="TPServerName" serializeAs="String">
            <value>127.0.0.1</value>
         </setting>
         <setting name="DefaultPromoEntryScheduleDayLimit" serializeAs="String">
            <value>15</value>
         </setting>
         <setting name="DbConnection" serializeAs="String">
            <value>Data Source=(local);Initial Catalog=LotteryRetailMO;User ID=tp;Password=o~dJJ@Ax/</value>
         </setting>
         <setting name="ApplicationType" serializeAs="String">
            <value>1</value>
         </setting>
      </TransPortalControl.My.MySettings>
   </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
