if exists(select * from sys.servers where name = N'#{serverName}#')
BEGIN
SET NOEXEC ON;
END

DECLARE @Retail VARCHAR(32)

SET @Retail = '#{serverName}#' --Computer name of the new Retail Server that is being linked.

USE [master]

EXEC master.dbo.sp_addlinkedserver @server = @Retail, @srvproduct=N'SQL Server'

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'collation compatible', @optvalue=N'false'

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'data access', @optvalue=N'true'

EXEC master.dbo.sp_serveroption @server = @Retail, @optname=N'rpc', @optvalue=N'true'

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'rpc out', @optvalue=N'true'

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'connect timeout', @optvalue=N'0'

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'collation name', @optvalue=null

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'query timeout', @optvalue=N'0'

EXEC master.dbo.sp_serveroption @server= @Retail, @optname=N'use remote collation', @optvalue=N'true'

USE [master]

EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = @Retail, @locallogin = NULL , @useself = N'False', @rmtuser = N'#{CentralLinkedServerUser}#', @rmtpassword = N'#{CentralLinkedServerPassword}#'

