IF (EXISTS (SELECT name 
FROM master.dbo.sysdatabases 
WHERE ('[' + name + ']' = 'LotteryRetail' 
OR name = 'LotteryRetail')))
BEGIN
SET NOEXEC ON;
END

CREATE DATABASE [LotteryRetail] ON  PRIMARY 
( NAME = N'LotteryRetail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\LotteryRetail.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LotteryRetail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\LotteryRetail_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [LotteryRetail]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [LotteryRetail] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

USE  [LotteryRetail] 
CREATE USER [mas] FOR LOGIN [mas] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [sqljobs] FOR LOGIN [sqljobs] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [reports] FOR LOGIN [reports] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [tp] FOR LOGIN [tp] WITH DEFAULT_SCHEMA=[dbo]
GO
