IF (EXISTS (SELECT name 
FROM master.dbo.sysdatabases 
WHERE ('[' + name + ']' = 'eDeal' 
OR name = 'eDeal')))
BEGIN
SET NOEXEC ON;
END

CREATE DATABASE [eDeal] ON  PRIMARY 
( NAME = N'eDeal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\eDeal.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eDeal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\eDeal_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [eDeal]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [eDeal] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO


USE [eDeal]
CREATE USER [tp] FOR LOGIN [tp] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [mas] FOR LOGIN [mas] WITH DEFAULT_SCHEMA=[dbo]
GO