IF (EXISTS (SELECT name 
FROM master.dbo.sysdatabases 
WHERE ('[' + name + ']' = 'LotteryCentral' 
OR name = 'LotteryCentral')))
BEGIN
SET NOEXEC ON;
END

CREATE DATABASE [LotteryCentral] ON  PRIMARY 
( NAME = N'LotteryCentral', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\LotteryCentral.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LotteryCentral_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\LotteryCentral_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [LotteryCentral]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [LotteryCentral] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

USE  [LotteryCentral] 
CREATE USER [mas] FOR LOGIN [mas] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [sqljobs] FOR LOGIN [sqljobs] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [reports] FOR LOGIN [reports] WITH DEFAULT_SCHEMA=[dbo]
CREATE USER [tp] FOR LOGIN [tp] WITH DEFAULT_SCHEMA=[dbo]
GO


USE [LotteryCentral]
CREATE ROLE [VMod] AUTHORIZATION [dbo]
CREATE ROLE [SSRS] AUTHORIZATION [db_datareader]
GO

USE [LotteryCentral]
CREATE SCHEMA [VMod] AUTHORIZATION [VMod]
CREATE SCHEMA [SSRS] AUTHORIZATION [SSRS]
GO



USE [LotteryCentral]
GRANT CONNECT TO [mas]
EXEC sp_addrolemember N'db_owner', N'mas'
EXEC sp_addrolemember N'VMod', N'mas'


/* Turn advanced options on. */
EXEC sp_configure 'show advanced options' , '1';
go
reconfigure;
go

/* Enable CLR. */
EXEC sp_configure 'clr enabled' , '1'
go
reconfigure;

/* Turn advanced options back off. */
EXEC sp_configure 'show advanced options' , '0';
go
reconfigure;