if not exists(  select name, is_published, is_subscribed, is_merge_published, is_distributor
  from sys.databases
  where is_published = 1 or is_subscribed = 1 or
  is_merge_published = 1 or is_distributor = 1)
BEGIN
SET NOEXEC ON;
END


DECLARE @sqlQ nvarchar(max), @replName nvarchar(max), @centralServer nvarchar(max)

SELECT @centralServer = SUBSTRING(VALUE1, 2, CHARINDEX(']', VALUE1)-2) FROM CASINO_SYSTEM_PARAMETERS WHERE PAR_NAME = 'CENTRAL_SERVER_LINK'

SELECT @replName = @@SERVERNAME + 'RetailPublication'

SET @sqlQ = 'use [LotteryRetail]
exec sp_dropsubscription @publication = N''' + @replName + ''', @subscriber = N''' + @centralServer + ''', @destination_db = N''LotteryCentral'', @article = N''all''

exec sp_dropsubscription @publication = N''' + @replName + ''', @article = N'''


SELECT @sqlQ = COALESCE(@sqlQ, '') + msa.Article + ''', @subscriber = N''all'', @destination_db = N''all''

exec sp_droparticle @publication = N''' + @replName + ''', @article = N''' + msa.Article + ''', @force_invalidate_snapshot = 1

exec sp_dropsubscription @publication = N''' + @replName + ''', @article = N'''
FROM distribution.dbo.MSarticles msa
JOIN distribution.dbo.MSpublications msp ON msa.publication_id = msp.publication_id
ORDER BY 
  msp.publication, 
  msa.article





SET @sqlQ = LEFT(@sqlQ, LEN(@sqlQ) - 90)

SET @sqlQ = @sqlQ + '

exec sp_droppublication @publication = N''' + @replName + '''

exec sp_replicationdboption @dbname = N''LotteryRetail'', @optname = N''publish'', @value = N''false''

exec sp_dropsubscriber @subscriber = N''' + @centralServer + '''

exec sp_dropdistpublisher @publisher = N''' + @@SERVERNAME + '''

exec sp_dropdistributiondb @database = N''distribution''

exec sp_dropdistributor @no_checks = 1, @ignore_distributor = 1
'

EXEC #LongPrint @sqlQ

EXEC(@sqlQ)



